.products{
    margin: 2rem 0;

    .products-category{

        .products-category-title{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 1rem 0;
            margin-bottom: 1rem;
        
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    
        .products-category-menu{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 1.4rem;
            ul{
                :hover{
                    color:aqua;
                }
                li{
                    padding: 1rem;
                    cursor: pointer;
                    
                    
                }
                color:white;
                border-radius: .6rem;
                padding: 1rem 0;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-weight: 600;
                justify-content: center;
                
                
            }

            
        }
    }
}


.products-menu{
    margin-bottom: 1rem;

    .products-searcher{
    
        margin-left: auto;
        width: max-content;
    
        form input{
            border-radius: .6rem;
        }
    }
    
}

.products-gallery{
    
    
    

    .product-gallery{
        
        
    }

    .content-list{
        
        

        .lists-contents{

            .list-content{

                .list{
                    
                    
                }

                
            }
            
        }
    }
    
    .product{
        margin-bottom: 1rem;
        display: flex;
        

        .product-image img{
            border: solid 4px white;
        }     
        .product-disponibility{
            background-color: hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            margin: 1rem;
            h3{
                text-align: center;
                padding: .5rem;
            }
        }

        .view-product{
            padding: 1rem;
            margin-bottom:2rem;

            button{
                border-radius: .6rem;
                padding:.5rem;
                margin-left: 2rem;
                cursor: pointer;
                :hover{
                    color: aqua;
                }
                 
                
                p{
                    color:hsl(207deg, 100%, 27%);
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}

  
  