.products{
    margin: 2rem 0;
    flex-wrap: wrap;
    
    

    .products-category{

        .products-category-title{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 1rem 0;
            margin-bottom: 1rem;
        
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    
        .products-category-menu{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 3rem;
            .box-category{
                
                margin: 0.7rem;  
                h3{
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color:white;
                    cursor: pointer;
                    
                    
                }   
                
                :hover{
                    color:turquoise;
                }
            }   
        }
    }
}

.products-menu{
    margin-bottom: 1rem;
    display: flex;
    padding-left: 10rem;
    
    .products-counter{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color:white;
        
    }

    .column-form{

        .wrapper{

            .search{
                input{
                    border-radius: .6rem;
                    border: 1px solid hsl(207deg, 100%, 27%);
                    padding: .5rem;
                }
            }                           
        }
        display: flex;
    }

    
    .search-button{
        background-color: hsl(207deg, 100%, 27%);
        color:white;
        border-radius: .6rem;
        margin-right: 1rem;
        cursor: pointer;
        
    }

    .order-price{
        display: flex;
        
        select{
            border-radius: .6rem;
            border: 1px solid hsl(207deg, 100%, 27%);
            
            color:hsl(207deg, 100%, 27%);

            option{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                color:hsl(207deg, 100%, 27%);
            }
        }

        button{
            background-color: hsl(207deg, 100%, 27%);
            color:white;
            border-radius: .6rem;
            cursor: pointer;
            
        }
        
    }
}

.products-gallery{
    
    .products-list{
        display: flex;
        flex-wrap: wrap;

        .products-front{
            flex-wrap: wrap;
            display: flex;
            
            .product{
                display:block;
                background-color: white;
                border-radius: .6rem;
                margin: 1rem;  
                  .list{
                    display: flex;
                    justify-content: center;

                    h3{
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color:hsl(207deg, 100%, 27%);
                    }
                    
                }
                
                .content{
                    display: flex;
                    justify-content: center;
                    
                }
        
                .product-image img{
                    border: solid 4px white;
                }
                
                .product-price{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    color:hsl(207deg, 100%, 27%);
                    font-size: 1.2rem;
                }

                .product-disponibility{
                    background-color: hsl(207deg, 100%, 27%) ;
                    border-radius: .6rem;
                    margin:.5rem;
                    h3{
                        text-align: center;
                        padding: .3rem;
                        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                        color:white;
                        font-size: 1rem;
                    }
                }
        
                .view-button{
                    padding: 1rem;
                    margin-bottom:.5rem;                               
        
                    button{
                        border-radius: .6rem;
                        padding:.5rem;
                        background-color: hsl(207deg, 100%, 27%);
                        cursor: pointer;
                        :hover{
                            color: aqua;
                        }
                         
                        
                        p{
                            color: white;
                            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                            font-weight: 600;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
    
    
    
}
