.products{
    margin: 2rem 0;
    flex-wrap: wrap;
    
    

    .products-category{

        .products-category-title{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 1rem 0;
            margin-bottom: 1rem;
        
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
        }
    
        .products-category-menu{
            background-color:hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            padding: 1.4rem;
            .box-category{
                

                .category{
                    
                }
            }
            
        }
    }
}


.products-menu{
    margin-bottom: 1rem;

    .container{
        display: flex;
        padding-left: 14rem;

        .searcher{
            input{
                border-radius: .6rem;
                border: 1px solid hsl(207deg, 100%, 27%);
            }
        }

        .searcher-button{
            background-color: hsl(207deg, 100%, 27%);
            color:white;

            button{
                border-radius: .6rem;
            }
        }
    }
    
}

.products-gallery{
    
    
    

    .product-gallery{
        
        
    }

    .content-list{
        
        

        .lists-contents{

            .list-content{

                .list{
                    
                    
                }

                
            }
            
        }
    }
    
    .product{
        margin-bottom: 1rem;
        display:block;
        
        border-radius: .6rem;

        .list{
            display: flex;
            justify-content: center;
            
        }
        
        .content{
            display: flex;
            justify-content: center;
            
        }

        .product-image img{
            border: solid 4px white;
        }     
        .product-disponibility{
            background-color: hsl(207deg, 100%, 27%) ;
            border-radius: .6rem;
            margin: 1rem;
            padding: 1rem;
            width: 5rem;
            height: 5rem;
            h3{
                text-align: center;
                padding: .5rem;
            }
        }

        .view-product{
            padding: 1rem;
            margin-bottom:2rem;

            button{
                border-radius: .6rem;
                padding:.5rem;
                margin-left: 2rem;
                cursor: pointer;
                :hover{
                    color: aqua;
                }
                 
                
                p{
                    color:hsl(207deg, 100%, 27%);
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }
        }
    }
}
