.product{
    margin: 2rem 0;
    margin-bottom: 6.9rem;

    .product-gallery{
        
        .product-main-image{
            width:32rem;

            img{
                border:solid white;
            }
        }   
    } 

    .product-info-article{

        padding-left: 6rem;

        .product-title{
            background-color:hsl(207deg, 100%, 27%);
            border-radius: .6rem;
            margin-bottom: 1rem;
            h2{
                text-align: center;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                
            }
        }

        .product-form{
            display: flex;

            .plus-minus-button{
                display: flex;
            }

            

            button{
                input{
                    border-radius: .6rem;
                }
                border-radius: .6rem;
            } 

            form{
                label{
                    color:white;
                    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                    
                }
                input{
                    border-radius: .6rem;
                }
                   
            }
        }

        .store-button{
            

            button{
                background-color:hsl(207deg, 100%, 27%) ;
                color:white;
                border-radius: .6rem;
                cursor: pointer;
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                font-size: 1.2rem;
                margin-left: 6.5rem;
                :hover{
                    color:aqua;
                }
            }
        }
    }
        
    .product-price{
            h3{
                font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

            }
    .product-article-title{ 
            h3{
                font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                text-align: center;
                margin-bottom: 2rem;
            }
            }

        }
    .product-article{
        background-color:hsl(207deg, 100%, 27%);
        border-radius: .6rem;
        margin-bottom: 2rem; 
        p{
            padding:1rem;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }

    
    }

    .notification{
        background-color: white;
        padding: 1rem;
        text-align: center;
        border-radius: 2rem;
        opacity: 0;
        position: fixed;
        bottom: 15vh;
        right: 5%;
        transition: opacity 1s;
        .notification-message{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            color: aqua;
            

        }
    }    

    .notification.active{
        opacity: 1;
    }  
}   





